<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> FLIPCARD </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="getRandomItems()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<br/>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>GUESS THE MEANING BEFORE YOU FLIP </ion-label>
    </ion-list-header>
    <ng-container *ngIf="rndVocabs">
      <ion-item-sliding *ngFor="let item of rndVocabs; let i = index" #slidingItem>
        <ion-item lines="inset" button [routerLink]="['/view', item.id]">
          <ion-label>
            <h1 class="marginV10">{{ item.vocab }}<br/></h1>
            <!-- <p>(t) {{ item.category }} - (m) {{ item.notes }}</p> -->
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <br/>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="getRandomItems()" color="tertiary">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
