<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ vocab.category | uppercase }} </ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="edit()">
        <!-- <ion-icon slot="icon-only" name="create"></ion-icon> -->
        Edit
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item lines="full">
      <ion-text color="primary">
          <h1>{{ vocab.vocab }}</h1>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color="secondary">
        (t) {{ vocab.category }}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="vocab.subcategory">
      (st) {{ vocab.subcategory }}
    </ion-item>
    <ion-item>
      <ion-text color="dark">
          <p>(m) {{ vocab.notes }}</p>
      </ion-text>
    </ion-item>

  </ion-list>
</ion-content>
