<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Vocabulary Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let category of categories">
      <ion-item lines="inset" button [routerLink]="['/listing', category]">
        <ion-label>
          {{ category | uppercase }}
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>